.title{
    color: #E6DCA4;
    font-size: 5rem;
    text-align: center;
}

.title__text{
    font-family: 'Chewy',sans-serif;
    margin: 5px;
}

.title__question{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}