@import "variable";

//Stylowanie ikonek do wyboru środowiska
.selectEnvironment{
    &__title{
        font-family: $font-primary;
        letter-spacing: 2px;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-light;
        text-align: center;
        margin: 15px;
    }

    &__icon {
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.environment{

    &__icon {
        text-align: center;
        margin: 10px;
        text-decoration: none;
        color: inherit;

        img {
            height: 10rem;
            width: 10rem;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    &__text{
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-light;
        margin-top: 10px;
    }
}

.custom__tooltip{
    background-color: $color-tooltips;
    color: $color-light;
    padding: 10px;
    border-radius: 5px;
    font-size: 5rem;
    text-align: center;
    max-width: 300px;
}

// Kolor strzałki tooltipu
.custom__tooltip::after {
    border-top-color: $color-tooltips;
}