@import "variable";

.carousel-container {
    max-width: 100%;
}

a.journal__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.journal {
    text-align: center;

    &__img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 10px 10px;
    }

    &__text {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-light;
        margin: 10px 0;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSlider {
    margin: 30px 10px;
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: $color-green-primary;
    color: $color-light;
    border: 2px solid $color-light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-light;
        color: $color-green-primary;
    }
}


// Tablet
@media (max-width: 1028px) {

    .carousel-container {
        max-width: 80%; // Adjust as needed
        margin: 0 auto;
    }

    div.journal__div {
        max-width: 350px;
        margin-top: 30px;
    }

    .journal__img {
        height: 8rem;
        width: 8rem;
    }

    .journal__text {
        font-size: 1.0rem;
    }
}

@media (max-width: 620px) {

    .carousel-container {
        max-width: 100%; // Adjust as needed
        margin: 0 auto;
    }

    div.journal__div {
        max-width: 300px;
        margin-top: 30px;
    }

    .journal__img {
        height: 8rem;
        width: 8rem;
    }

    .journal__text {
        font-size: 1.5rem;
    }
}
