@import "variable";

a.journal__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.journal {
    text-align: center;

    &__img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 10px 10px;
    }

    &__text {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-light;
        margin: 10px 0;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSlider {
    margin: 30px 10px;
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: $color-green-primary;
    color: $color-light;
    border: 2px solid $color-light;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-light;
        color: $color-green-primary;
    }
}



