@import "variable";

.changeName-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: $font-primary;
    background: $color-light;
}

.changeName-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.changeName__title {
    display: block;
    margin-bottom: 10px;
    overflow: visible;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: $color-green-primary;
    text-align: center;
}

.changeName__label, .changeName__avatar--title {
    display: block;
    margin-bottom: 10px;
    overflow: visible;
    text-transform: uppercase;
    font-size: 2rem;
    color: $color-green-primary;
    text-align: center;
}

.changeName-container input {
    width: calc(100% - 20px);
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.changeName-container .error {
    color: red;
    margin-bottom: 10px;
}

.changeName__avatar--section {
    text-align: center;
}

.changeName__avatar {
    height: 10rem;
    width: 10rem;
    margin: 10px 20px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.changeName__avatar {
    transition: border 0.3s;
}

.changeName__avatar.selected {
    border: 8px solid $color-selected;
    box-sizing: border-box;
}

.buttonChangeName {
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: $color-green-primary;
    color: $color-light;
    border: 2px solid $color-green-primary;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;


    &:hover {
        background-color: $color-light;
        color: $color-green-primary;
    }
}

.success {
    overflow: visible;
    text-transform: uppercase;
    font-size: 2rem;
    color: $color-green-primary;
    text-align: center;
    margin: 20px 0;
}

