.environment-detail {
    text-align: center;
    margin-top: 20px;

    img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    section {
        margin: 20px 0;

        h2 {
            margin-bottom: 10px;
        }

        div {
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color 0.3s;

            &.selected {
                border-color: #00f;
            }

            img {
                height: 10rem;
                width: 10rem;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 10px;

            }

            div {
                p {
                    margin: 5px 0;
                }

                span {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}