@import "variable";

.footer__img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &--left{
        max-width: 300px;
        max-height: 300px;
    }

    &--right{
        max-width: 300px;
        max-height: 300px;
    }
}