@import "variable";


.profilSelector {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &__changeName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--icon {
            height: 15rem;
            width: 15rem;
            background: $color-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10rem;
            color: $color-green-primary;
        }
    }

    &__profileUser {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--avatar {
            height: 15rem;
            width: 15rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.profilSelector__profileUser--name, .profilSelector__changeName--name {
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 3rem;
    color: $color-light;
    margin-top: 10px;
}

//Tablet
@media (max-width: 768px) {

    .profilSelector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__profileUser {
            margin-bottom: 30px;
        }

    }
}


