@import "variable";

/*Tytuł stylowanie*/
.title{
    color: $color-light;
    font-size: 9rem;
    text-align: center;
    margin: 5px;

    &__text{
        font-family: $font-secondary;
        padding-bottom: 10px;
        margin: 5px;
    }

    &__question{
        font-family: $font-primary;
        letter-spacing: 2px;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}
