// colors

$color-green-primary: #697654;
$color-light: #FFFADB;
$color-tooltips: #7E592D;
$color-selected: #3B4028;

//fonts
$font-primary: 'Open Sans', sans-serif;
;
$font-secondary: 'Chewy', sans-serif;